.content {
  width: 100%;
  max-width: 480px;
  gap: 32px;
  padding: 28px 48px;
}

.mainTitle {
  font-size: 28px;
  color: white;
}

.dataContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.inputTitle {
  font-size: 16px;
  color: white;
}

.input {
  appearance: none;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--a4);
  border-radius: 16px;
  color: var(--a5);
  background-color: white;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.input::placeholder {
  color: var(--a5);
}

.dataText {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.mainButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.deleteAccountText {
  cursor: pointer;
  color: var(--a3);
  font-size: 16px;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .content {
    padding: 16px 24px;
    max-width: 80%;
  }
  .mainTitle {
    font-size: 20px;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 12px;
  }
}
