.mainContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-x: hidden;
}

.tasksContainer {
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 480px;
  background-color: var(--a5);
  position: relative;
}

.tasksButtons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.notLoggedText {
  padding: 0 48px;
  margin-top: 48px;
  font-size: 28px;
  text-align: center;
  color: var(--a1);
}
.notLoggedText a {
  text-decoration: underline;
  color: white;
}

.noCategoriesText {
  cursor: pointer;
  margin-top: 32px;
  padding: 0 24px;
  text-align: center;
  font-weight: 600;
  color: var(--a1);
  font-size: 28px;
  text-decoration: underline;
}

.tasksFooter {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 20px;
}

.horizontalSeparator {
  border-top: 1px solid var(--a3);
  width: 100%;
}

.timersContainer {
  padding: 24px 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 56px;
  background-color: var(--a6);
  justify-content: space-around;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.timer {
  background-color: var(--a5);
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;
  padding: 36px;
  border-radius: 16px;
}

.taskSelectedContainer {
  max-width: 70%;
  border-radius: 16px;
  background-color: var(--a5);
}

.taskSelectedContent {
  padding: 16px 24px;
}
.taskSelectedContent.grid {
  display: grid;
  grid-template-columns: 1fr 0.1fr 2fr;
  grid-template-rows: auto;
  gap: 16px;
}

.taskSelectedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: var(--a7);
  color: var(--w);
  padding: 8px 16px;
  border-radius: 16px 16px 0 0;
}

.taskSelectedFinishButton {
  cursor: pointer;
  transition: transform 0.2s;
}
.taskSelectedFinishButton:hover {
  transform: scale(0.95);
}

.taskSelectedFinishText {
  text-decoration: underline;
}

.taskInfo {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.verticalSeparator {
  border-left: 1px solid var(--a3);
  height: 100%;
}

.taskNotes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 120px;
}

.taskInfo p,
.taskNotes p {
  font-size: 16px;
  color: var(--w);
}

.taskNotesText {
  overflow-y: auto;
  padding-right: 8px;
  white-space: pre-wrap;
}

.taskNotesText::-webkit-scrollbar,
.taskInfo::-webkit-scrollbar {
  width: 8px;
}

.noTaskSelected {
  font-size: 20px;
  line-height: 36px;
  color: var(--a1);
}

@media (max-width: 1064px) {
  .mainContainer {
    overflow-y: visible;
  }
  .contentContainer {
    flex-direction: column;
    overflow-x: hidden;
  }
  .tasksContainer {
    order: 2;
    max-width: 100%;
  }
  .timersContainer {
    max-width: 100%;
    height: 100%;
    flex: auto;
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .tasksContainer {
    max-width: 100%;
    gap: 24px;
  }
  .tasksFooter {
    gap: 12px;
  }
  .noCategoriesText {
    font-size: 20px;
    margin-top: 16px;
  }
  .notLoggedText {
    font-size: 20px;
    margin-top: 16px;
  }
  .timersContainer {
    gap: 40px;
    padding: 0;
    justify-content: space-around;
  }

  .timer {
    padding: 24px 0px;
    width: 100%;
    border-radius: 0px;
  }

  .taskSelectedContainer {
    margin-top: 12px;
    margin-bottom: 36px;
    height: 100%;
    width: 85%;
  }

  .taskSelectedContainer.grid {
    padding: 24px 16px;
    display: grid;
    grid-template-columns: 2fr 0.1fr 4fr;
    grid-template-rows: auto;
    height: fit-content;
    width: 85%;
    gap: 8px;
  }

  .taskSelectedHeader {
    font-size: 14px;
    padding: 6px 12px;
    top: -20px;
  }

  .taskInfo {
    gap: 8px;
  }

  .taskNotes {
    gap: 4px;
    height: 140px;
  }

  .taskInfo p,
  .taskNotes p {
    font-size: 14px;
  }

  .noTaskSelected {
    font-size: 16px;
    line-height: 24px;
  }
}
