.header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--a8);
}
.headerLogo {
  font-size: 32px;
  font-weight: bold;
  color: var(--w);
}
.headerIcons {
  display: flex;
  align-items: center;
  gap: 32px;
}
.headerIcon {
  width: 28px;
  height: 28px;
  fill: var(--w);
}

@media (max-width: 480px) {
  .header {
    padding: 20px 20px;
    line-height: 36px;
  }
  .headerLogo {
    font-size: 20px;
  }
  .headerIcons {
    gap: 24px;
  }
  .headerIcon {
    width: 24px;
    height: 24px;
  }
}
