.errorContainer {
  display: flex;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--v1);
  background-color: var(--v2);
  margin-bottom: 16px;
  gap: 4px;
  align-items: center;
}
.errorMessage {
  color: var(--v1);
  font-weight: 600;
  font-size: 18px;
}
.errorMessageIcon {
  fill: var(--v1);
  width: 20px;
  height: 20px;
}
