.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 12px;
  gap: 16px;
  width: 100%;
}

.mainContainer::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}
/* Personalizando o track (fundo da barra de rolagem) */
.mainContainer::-webkit-scrollbar-track {
  background: var(--a1);
  border-radius: 8px;
}
/* Personalizando o thumb (a parte que você arrasta) */
.mainContainer::-webkit-scrollbar-thumb {
  background: var(--a4);
  border-radius: 8px;
}
/* Thumb ao passar o mouse */
.mainContainer::-webkit-scrollbar-thumb:hover {
  background: var(--a6);
}

.loadingContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  rotate: -90deg;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: ease-out; /* Desacelera */
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in; /* Acelera */
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 12px;
}

.categoryRenameContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding: 8px 16px;
  gap: 16px;
}
.categoryRenameInput {
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 16px;
}
.categoryRenameButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.categoryHeaderRight {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.categoryTitle {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;
}

.categoryText {
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.categoryTime {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.tasks {
  display: none;
}
.visible {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.taskItem {
  padding: 4px 0;
  padding-left: 36px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  color: white;
}
.taskItem:hover {
  background-color: rgba(55, 128, 165, 0.5);
}

.taskSelected {
  background-color: var(--a4);
}

.taskTitle {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  align-items: center;
}
.taskTitle p {
  max-width: calc(100% - 40px);
}

.taskCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--a2);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.taskCheckbox.checked {
  border: 2px solid var(--a2);
  background-color: white;
}
.taskCheckbox.nonChecked {
  background-color: none;
}
.taskCheckbox:hover {
  background-color: var(--a4);
}

.taskItemRight {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.taskDuration {
  font-size: 18px;
}

.taskName {
  flex: 1;
  cursor: pointer;
}
.taskNameText {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
}

.taskNameTextCompleted {
  text-decoration: line-through;
}

.categoryEmpty {
  padding: 4px 0;
  padding-left: 36px;
  font-size: 18px;
  color: var(--a2);
}

@media (max-width: 480px) {
  .categoryText {
    font-size: 20px;
  }
  .categoryTime {
    font-size: 16px;
  }
  .taskNameText {
    font-size: 16px;
  }
  .taskDuration {
    font-size: 14px;
  }
  .categoryEmpty {
    font-size: 16px;
  }
  .taskCheckbox {
    width: 18px;
    height: 18px;
  }
}
